:root {
    --text-color: hsl(0, 0%, 100%);
    --accent-color: hsl(75, 94%, 57%);
    --body-background-color: hsl(0, 0%, 8%);
    --article-background-color: hsl(0, 0%, 12%);
    --link-background-color: hsl(0, 0%, 20%);
    --font-family: 'Inter', sans-serif;
    /* 400, 600, 700 */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--body-background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;

    display: grid;
    grid-template-rows: 1fr auto;

    align-items: center;
    gap: 2.4rem;
    text-align: center;
    padding: 0 2.4rem 1rem;

}

img {
    max-width: 88px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.profile-card {
    background-color: var(--article-background-color);
    padding: 2.4rem;
    border-radius: 1.5rem;
    max-width: 380px;
    width: 100%;
    margin: 11.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;

}

.profile-header h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

.location {
    color: var(--accent-color);
    font-weight: 600;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    list-style: none;
}

.social-links li {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--link-background-color);

    border-radius: 1rem;
}

.social-links li:hover {
    background-color: var(--accent-color);
}

.social-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    display: block;
    padding: 1.4rem;
}

.social-links li:hover a {
    color: var(--body-background-color);
}